<!DOCTYPE html>
<html>
  <head>
    <title>Edit task - Project management</title>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js"></script>
    <script src="/javascripts/authenticateAdmin.js"></script>

    <link rel="icon" href="/images/tab-logo.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/5cca7320c3.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/adminEditTask.css' />
  </head>
  <body>

    <ul id="sidebar">
      <li id="logo_place"><img id="logo" src="/images/logo-white.png"></li>
      <li><a id="sidebar_list" onclick="location.assign('/admin/projects')"><ion-icon id="icons" name="folder-outline"></ion-icon> Projekti</a></li>
      <li><a id="sidebar_list" onclick="location.assign('/admin/workers')"><ion-icon id="icons" name="people-outline"></ion-icon> Radnici</a></li>
      <li><a id="sidebar_list_active"><ion-icon id="active_icon" name="caret-forward-outline"></ion-icon>
          <ion-icon id="task_icon" name="list-outline"></ion-icon> Taskovi</a></li>
      <li><a id="sidebar_list" onclick="location.assign('/admin/logs')"><ion-icon id="logs_icon" name="time-outline"></ion-icon> Logovi</a></li>
      <li><hr id="sidebar_line"></li>
      <li><a id="sidebar_list" onclick="logout()"><ion-icon id="logout_icon" name="log-out-outline"></ion-icon> Log out</a></li>
    </ul>

    <nav id="navbar" class="navbar navbar-default">
      <div id="navbar_div" class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li><button onclick="location.assign('/admin/tasks')" id="back_button" class="btn btn-default"> Natrag</button></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a><ion-icon onclick="location.assign('/admin/user')" id="user_icon" name="person-circle-outline"></ion-icon></a></li>
        </ul>
      </div>
    </nav>

    <div id="form" class="container">
      <p id="form_header">Uredi task</p>
      <form id="form_inputs">
        <div class="form-group">
          <label for="project_id">ID projekta:</label>
          <input style="font-size: 17px" type="text" class="form-control" id="project_id" placeholder="Unesite ID projekta" name="project_id">
        </div>
        <div class="form-group">
          <label for="name">Naziv:</label>
          <input style="font-size: 17px" type="text" class="form-control" id="name" placeholder="Unesite naziv taska" name="name">
        </div>
        <div class="form-group">
          <label for="end_date">Rok završetka:</label>
          <input style="font-size: 17px" type="date" class="form-control" id="end_date" name="end_date">
        </div>
        <div class="form-group">
          <label for="responsible_worker">Odgovorni radnik:</label>
          <input style="font-size: 17px" type="text" class="form-control" id="responsible_worker" placeholder="Unesite ID odgovornog radnika" name="responsible_worker">
        </div>
        <button id="submit_button" type="submit" class="btn btn-default">Spremi</button>
      </form>
    </div>

    <script src="/javascripts/editTask.js"></script>
    <script src="/javascripts/logout.js"></script>

  </body>
</html>
