<!DOCTYPE html>
<html>
<head>
    <title>User - Project management</title>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js"></script>
    <script src="/javascripts/authenticateAdmin.js"></script>

    <link rel="icon" href="/images/tab-logo.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/5cca7320c3.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/adminUser.css' />
</head>
<body>

    <ul id="sidebar">
        <li id="logo_place"><img id="logo" src="/images/logo-white.png"></li>
        <li><a id="sidebar_list" onclick="location.assign('/admin/projects')"><ion-icon id="icons" name="folder-outline"></ion-icon> Projekti</a></li>
        <li><a id="sidebar_list" onclick="location.assign('/admin/workers')"><ion-icon id="icons" name="people-outline"></ion-icon> Radnici</a></li>
        <li><a id="sidebar_list" onclick="location.assign('/admin/tasks')"><ion-icon id="task_icon" name="list-outline"></ion-icon> Taskovi</a></li>
        <li><a id="sidebar_list" onclick="location.assign('/admin/logs')"><ion-icon id="logs_icon" name="time-outline"></ion-icon> Logovi</a></li>
        <li><hr id="sidebar_line"></li>
        <li><a id="sidebar_list" onclick="logout()"><ion-icon id="logout_icon" name="log-out-outline"></ion-icon> Log out</a></li>
    </ul>

    <nav id="navbar" class="navbar navbar-default">
        <div id="navbar_div" class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><button onclick="location.assign('/admin/projects')" id="back_button" class="btn btn-default"> Natrag</button></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="cursor: auto" href="#baba"><ion-icon id="user_icon" name="person-circle-outline"></ion-icon></a></li>
            </ul>
        </div>
    </nav>

    <div id="user_div">
        <h1 id="title">Korisni훾ki ra훾un</h1>
        <div><p id="label">ID: </p><p id="id"></p></div>
        <div><p id="label">Ime: </p><p id="first_name"></p></div>
        <div><p id="label">Prezime: </p><p id="last_name"></p></div>
        <div><p id="label">Email: </p><p id="email"></p></div>
        <div><p id="label">Broj telefona: </p><p id="number"></p></div>
        <div><p id="label">Spol: </p><p id="gender"></p></div>
        <div><p id="label">Role: </p><p id="role"></p></div>
        <div><button onclick="location.assign('/admin/user/edit')" id="edit_button" class="btn btn-default">Uredi korisni훾ki ra훾un</button></div>
    </div>

    <script src="/javascripts/user.js"></script>
    <script src="/javascripts/logout.js"></script>

</body>
</html>
